@charset "UTF-8";
.yamabiko {
  font-family: arial;
}

.yamabiko::before {
  content: "\5c";
  margin-right: 0.3em;
}

.yamabiko::after {
  content: "\2f";
  margin-left: 0.3em;
}

.svg-white {
  fill: #fff;
}

.svg-black {
  fill: #000;
}

.bg-amikake-A {
  background: repeating-linear-gradient(45deg, #dde, #dde 2px, #eee 0, #eee 4px);
}

.video-responsive {
  width: 100%;
  /*横幅いっぱいにwidthを指定*/
  padding-bottom: 56.25%;
  /*高さをpaddingで指定(16:9)*/
  height: 0px;
  /*高さはpaddingで指定するためheightは0に*/
  position: relative;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #fafafa;
}

.page-footer ul {
  list-style-type: none;
  padding: 0;
}

.navbar {
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}

.navbar.transparent {
  opacity: 0;
}

.navbar .nht-logo {
  width: 160px;
}

.navbar .nav-item {
  border-bottom: 1px dashed #eee;
}

.navbar .nav-item:first-child {
  border-top: 5px solid #0004;
}

.navbar .nav-link {
  font-size: 1.25rem;
  text-align: center;
}

.navbar .nav-link [lang="en"] {
  display: block;
  font-size: 1rem;
}

.after-nav {
  padding-top: 100px;
}

.section-title-en {
  display: block;
  font-weight: 100;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.section-title-ja {
  display: block;
  font-size: 0.6em;
  letter-spacing: 3px;
}

.nav-tabs .nav-link {
  background: rgba(0, 0, 0, 0.075);
  color: #333;
}

.nav-tabs .nav-link.active {
  background: transparent;
}

#home #welcome {
  height: 100vh;
  background-image: url(../images/top_welcome.1.jpg);
  background-position: center center;
  background-size: auto 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

#home #news a, #home #message a {
  text-decoration: none;
}

#about .statement {
  border-top: 4px solid #000;
  border-bottom: 9px double #000;
}

#about .core-values {
  background-image: url(../images/about_corevalue-bg.png);
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#about .core-value-box {
  background: rgba(52, 171, 219, 0.9);
}

#about .core-value-box p {
  margin: 10px 0;
}

#about .core-value-box .core-value-ja, #about .core-value-box .core-value-en {
  font-size: 120%;
  border-top: 1px solid #000;
}

#about .core-value-box .core-value-scripture-ja, #about .core-value-box .core-value-scripture-en {
  font-size: 80%;
  font-style: italic;
  color: #445;
}

#about .core-value-box .core-value-index {
  font-size: 300%;
  text-align: center;
}

#message-note .point .blank {
  display: none;
}

#message-note .point .is-filling + .blank {
  display: inline-block;
}

#message-note .point .blank-span {
  display: inline-block;
  border-bottom: 1px solid #000;
}

#message-note .point .blank-span.is-empty {
  width: 5em;
  height: 1em;
}

#message-note .point .blank-span.is-filling {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}
/*# sourceMappingURL=nht-style.css.map */