@charset 'UTF-8';

body {
    background: #fafafa;
}

.page-footer ul {
    list-style-type: none;
    padding: 0;
}


// navbar
.navbar {
    transition: opacity 0.75s;
    &.transparent {
        opacity: 0;
    }
    .nht-logo {
        width: 160px;
    }
    .nav-item {
        border-bottom: 1px dashed #eee;
        &:first-child {
            border-top: 5px solid #0004;
        }
    }
    .nav-link {
        font-size: 1.25rem;
        text-align: center;
    }
    .nav-link [lang="en"] {
        display: block;
        font-size: 1rem;
    }
}

.after-nav {
    padding-top: 100px;
}

.section-title-en {
    display: block;
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.section-title-ja {
    display: block;
    font-size: 0.8em;
    letter-spacing: 3px;
    font-weight: normal;
}

// nav-tabs
.nav-tabs .nav-link {
    background: rgba(0, 0, 0, 0.075);
    color: #333;
    &.active {
        background: transparent;
    }
}