@charset 'UTF-8';

body {
    background: #fafafa;
}

.page-footer ul {
    list-style-type: none;
    padding: 0;
}


// navbar
.navbar {
    transition: opacity 0.75s;
    &.transparent {
        opacity: 0;
    }
    .nht-logo {
        width: 160px;
    }
    .nav-item {
        border-bottom: 1px dashed #eee;
        &:first-child {
            border-top: 5px solid #0004;
        }
    }
    .nav-link {
        font-size: 1.25rem;
        text-align: center;
    }
    .nav-link [lang="en"] {
        display: block;
        font-size: 1rem;
    }
}

