@charset 'UTF-8';

// トップページ
#home {
    #welcome {
        height: 100vh;
        background-image: url(../images/top_welcome.1.jpg);
        background-position: center center;
        background-size: auto 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }
    
    #news a, #message a {
        text-decoration: none;
    }
}

// ニューホープについて
#about {
    .statement {
        border-top: 4px solid #000;
        border-bottom: 9px double #000;
    }

    .core-values {
        background-image: url(../images/about_corevalue-bg.png);
        background-attachment: fixed;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;	
    }
    
    .core-value-box {
      background: rgba(52, 171, 219, .9);
    }
    
    .core-value-box p {
        margin: 10px 0;
    }
    .core-value-box .core-value-ja, .core-value-box .core-value-en {
        font-size: 120%;
        border-top: 1px solid #000;
    }
    .core-value-box .core-value-scripture-ja, .core-value-box .core-value-scripture-en {
        font-size: 80%;
        font-style: italic;
        color: #445;
    }
    .core-value-box .core-value-index {
        font-size: 300%;
        text-align: center;
    }
}

// メッセージノート
#message-note {
    .point {
        .blank {
            display: none;
        }
        .is-filling + .blank {
            display: inline-block;
        }
        .blank-span {
            display: inline-block;
            border-bottom: 1px solid #000;
            &.is-empty {
                width: 5em;
                height: 1em;
            }
            &.is-filling {
                display: inline-block;
                width: 0;
                height: 0;
                overflow: hidden;
            }
        }
    }
}

// デボーションスケジュール
#devotion-schedule {
    .monthly-plan {
        ol {
            list-style-type: none;
            padding: 0;
            li {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 0.25em;
                margin-bottom: 1px;
                background: #f0f0f0;
                &:nth-child(2n) {
                    background: #e0e0e0;
                }
                &:hover {
                    background: #fff;
                }
                .day {
                    display: block;
                    flex-basis: 15%;
                    text-align: center;
                    font-weight: bold;
                }
                .bible-verse {
                    display: block;
                    flex-basis: 42.5%;
                    text-decoration: none;
                    color: #111;
                    &:nth-child(1) {
                        text-align: right;
                    }
                    span {
                        display: inline-block;
                    }
                }
            }
        }
    }
}